<%! from django.utils.translation import ugettext as _ %>
<%inherit file="base.html" />
<%! from django.core.urlresolvers import reverse %>

<%block name="title">${_("Sign Up")}</%block>
<%block name="bodyclass">not-signedin view-signup</%block>

<%block name="content">
<section>
<!--<%include file="xiaodun_navigator.html" />-->
</section>
<div class="wrapper-content wrapper">
  <section class="content">
    <header>
      <h1 class="title title-1">${_("Register")}</h1>
      <a href="${reverse('login')}" class="action action-signin">${_("If you already have a bit cloud education Mu class union work platform account, please log in directly")}</a>
    </header>

    <p class="introduction">${_("If you are ready to create online courses, please register below and create your first bit by bit cloud Mu class education curricula.")}</p>

    <article class="content-primary" role="main">
      <form id="register_form" method="post">
        <div id="register_error" name="register_error" class="message message-status message-status error">
        </div>

        <fieldset>
          <legend class="sr">${_("Required Information to Sign Up for edX Studio")}</legend>

          <ol class="list-input">
            <li class="field text required" id="field-email">
              <label for="email">${_("Email Address")}</label>
              <input id="email" type="email" name="email" placeholder="e.g. jane.doe@gmail.com" />
            </li>

            <li class="field text required" id="field-password">
              <label for="password">${_("Password")}</label>
              <input id="password" type="password" name="password" />
            </li>

            <li class="field text required" id="field-username">
              <label for="username">${_("Public Username")}</label>
              <input id="username" type="text" name="username" placeholder="e.g. janedoe" />
              <span class="tip tip-stacked">${_("This will be used in public discussions with your courses and in our edX101 support forums")}</span>
            </li>

            <li class="field text required" id="field-name">
              <label for="name">${_("Institution Name")}</label>
              <input id="name" type="text" name="name" placeholder="e.g. Jane Doe" />
            </li>

            <li class="field-group">
              <div class="field text" id="field-location">
                <label for="location">${_("Your Location")}</label>
                <input class="short" id="location" type="text" name="location" />
              </div>

              <div class="field text" id="field-language">
                <label for="language">${_("Preferred Language")}</label>
                <input class="short" id="language" type="text" name="language" />
              </div>
            </li>

            <li class="field checkbox required" id="field-tos">
              <input id="tos" name="terms_of_service" type="checkbox" value="true" />
              <label for="tos">
                ${_("I agree to the {a_start} Terms of Service {a_end}").format(a_start='<a data-rel="edx.org" href="{}">'.format(marketing_link('TOS')), a_end="</a>")}
              </label>
            </li>
          </ol>
        </fieldset>

        <div class="form-actions">
          <button type="submit" id="submit" name="submit" class="action action-primary">${_("Create My Account &amp; Start Authoring Courses")}</button>
        </div>

        <!-- no honor code for CMS, but need it because we're using the lms student object -->
        <input name="honor_code" type="checkbox" value="true" checked="true" hidden="true">
      </form>
    </article>

    <aside class="content-supplementary" role="complimentary">
      <h2 class="sr">${_("Common Studio Questions")}</h2>

      <div class="bit">
        <h3 class="title-3">${_("Bit by bit cloud education Mu class union work platform is to do what?")}</h3>
        <p>
            ${_("Bit by bit cloud education Mu class union work platform test for any hope that the use of globalization platform to create online courses of users, these users are typically faculty, teaching assistants, curriculum teaching staff or technical team.")}
        </p>
      </div>

      <div class="bit">
        <h3 class="title-3">${_("Create a course in drip cloud education Mu class union work platform needs to know what technology?")}</h3>
        <p>${_("For almost all familiar with online editing environment (WordPress, Moodle and the like) people, bit by bit cloud education Mu class alliance platform is very easy to use. It requires no programming knowledge, but having a technical background on the use of some advanced features help. We will as in the past to provide you with help, don't hesitate to join in.")}</p>
      </div>

      <div class="bit">
        <h3 class="title-3">${_("I've never authored a course online before. Is there help?")}</h3>
        <p>
            ${_("Of course. We created a xiaodun101 online course, it describes some of the best practice methods: from the film, to create the practice foundation to carry out online course. In addition, we will provide help has been online, please give us a message when needed.")}
        </p>
      </div>
    </aside>
  </section>
</div>
</%block>

<%block name="jsextra">
  <script type="text/javascript">
require(["jquery", "jquery.cookie"], function($) {
  $("form :input").focus(function() {
    $("label[for='" + this.id + "']").addClass("is-focused");
  }).blur(function() {
    $("label").removeClass("is-focused");
  });

  $('form#register_form').submit(function(e) {
    e.preventDefault();
    var submit_data = $('#register_form').serialize();

    $.ajax({
      url: '/create_account?created_role=ins',
      type: 'POST',
      dataType: 'json',
      data: submit_data,
      headers: {'X-CSRFToken': $.cookie('csrftoken')},
      success: function(json) {
        location.href = "/course";
      },
      error: function(jqXHR, textStatus, errorThrown) {
        json = $.parseJSON(jqXHR.responseText);
        $('#register_error').html(json.value).stop().addClass('is-shown');
      },
      notifyOnError: false
    });
  });
});
  </script>
</%block>
