<%inherit file="base.html" />
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%block name="title">${_("Teacher Introduction")}</%block>
<%block name="bodyclass">is-signedin course uploads view-uploads</%block>

<%namespace name='static' file='static_content.html'/>

<%block name="header_extras">
% for template_name in ["asset-library", "asset", "paging-header", "paging-footer"]:
<script type="text/template" id="${template_name}-tpl">
    <%static:include path="js/${template_name}.underscore" />
</script>
% endfor
<script type="text/javascript">
</script>

<style type="text/css">
    .user-info ul{margin-left: 183px}
</style>
</%block>
<%block name="content">
<div class="wrapper-mast wrapper">
    <header class="mast has-actions has-subtitle">
        <h1 class="page-header">
            <!--
            <small class="subtitle">${_("Content")}</small>
            -->
            <span class="sr">&gt; </span>${_("The teacher information editor")}
        </h1>
    </header>
    <section class="content">
    <style>
    	.tb{}
    	.tb td{padding:5px;}
    </style>
    <form method="post" action="">
    <input type='hidden' name='csrfmiddlewaretoken' value='${csrf_token}' />
        	<table class="tb">
        		<tr>
        			<td width="100px">${_("Avatar Address Link")}</td>
        			<td>
        				<input type="text" name="picurl" value="" size="60" maxlength="160"/><br/>
        				
        				 %if profile and profile.picurl:
		                    <img src="${ profile.picurl}" width="70" height="70" style="border-radius:50%;"/>
		                %else:
		                    <img src="${static.url('images/noprofilepic.jpg')}" width="70" height="70" style="border-radius:50%;" maxlength="1000"/>
		                %endif
        			</td>
        		</tr>
        		<tr>
        			<td >${_("Personal profile")} </td>
        			<td>
        				<textarea name="shortbio" style="width:600px;height:200px;" >${profile.shortbio|h}</textarea>
        			</td>
        		</tr>
        		<tr>
        			<td ></td>
        			<td>
        				 <input type="submit" id="submit" value="${_('Save')}" class="button upload-button new-button" style="font-size:14px;">
        			</td>
        		</tr>
        	</table> 
    </form>
    </section>



<br/><br/><br/><br/><br/><br/>














</%block>




