<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
<!--<script type="text/javascript" src="js/vendor/jquery.min.js"></script>-->
<!--<script type="text/javascript">-->
    <!--ducument.getElementById('return_course').onclick = function return_course(){-->
        <!--console.log('entry');-->
        <!--$.ajax({-->
            <!--url: '/course'-->
        <!--})-->
    <!--}-->
<!--</script>-->
</head>
<body>
    <h4>{{ messg }}</h4>
    <a>配置文件上传------------------</a>
    <form action="/institution_upload_teacher?id={{ id }}" method="post" enctype="multipart/form-data" accept-charset="utf-8">{% csrf_token %}
        <p><label for="id_file">File:</label> <input type="file" name="file" id="id_file" /></p>
        <button>Submit</button>
        <button id="return_course" name="return_course">返回</button>
    </form>
</body>
<!--</html>-->