<%inherit file="syscustom_base.html" />
<%namespace name='static' file='../static_content.html'/>
<%!
from django.utils.translation import ugettext as _
%>

<%block name="content_extra">
<form id="courseclass-form"  method="post" action=''>
 <input type="hidden" name="csrfmiddlewaretoken" value="${ csrf_token }" id="prompt_box" >
 <input type="hidden" name="id" value="${obj.id if obj else ''}">
	<table  class="tb">
		<tr>
			<td style="width:100px;">
				课程分类代码:
			</td>
			<td>
				<input  type="text" name="code" id="code" value="${obj.code if obj else ''}" maxlength="10"/>
			</td>
		</tr>
		<tr>
			<td>
				课程分类名称:
			</td>
			<td>
				<input  type="text" name="name" id="name" value="${obj.name if obj else ''}"  maxlength="25"/>
			</td>
		</tr>
		<tr>
			<td>
				   排序号:
			</td>
			<td>
				<input  type="text" name="order_num"  value="${obj.order_num if obj else '1'}"  maxlength="5"/>
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<td>
				<input  type="submit" class="btn" name="保存" >
				<span id="msg" class="msg-tips"></span>
			</td>
		</tr>
	</table> 
    
</form>

<script type="text/javascript">
$(document).ready(function(){
    $('#courseclass-form').ajaxForm({
		dataType: 'json',
        beforeSubmit:function(){
        	if(!$("#code").val()){
        		alert("课程分类代码");
        		return false;
        	}
        	if(!$("#name").val()){
        		alert("课程分类名称");
        		return false;
        	}
        },
        success: function(json) {
        	if(json.error){
        		$('#msg').hide();
        		$('#msg').html(json.error);
        		$('#msg').show();
        	}else {
        		window.location.href=json.to_url;
			}
        }
    }),
	$("#courseclass-form").ajaxStart(function(){
		$('#msg').hide();
    });
});
</script>

</%block>