<%inherit file="syscustom_base.html" />
<%namespace name='static' file='../static_content.html'/>
<%!
  from django.utils.translation import ugettext as _
%>

<%block name="content_extra">
<style>
.tb{font-size:12px;}
textarea.seo-textarea{margin-bottom:8px;width:800px;height:60px;}
</style>
	<table class="tb">
		<tr>  
			<th width="80px">首页</th>
			<td>
				关键字：<textarea id="index_page_keyword" class="clear-input seo-textarea">${index_page_keyword | h}</textarea><br/>
				描　述：<textarea id="index_page_desc"  class="clear-input seo-textarea">${index_page_desc | h}</textarea>
			</td>
		</tr>	 
		<tr>  
			<th width="80px">列表页</th>
			<td>
				关键字：<textarea id="list_page_keyword" class="clear-input seo-textarea">${list_page_keyword | h}</textarea><br/>
				描　述：<textarea id="list_page_desc"  class="clear-input seo-textarea">${list_page_desc | h}</textarea>
			</td>
		</tr>	 
		<tr> 
			<th width="80px">课程介绍页</th>
			<td>
				关键字：<textarea id="intro_page_keyword" class="clear-input seo-textarea">${intro_page_keyword | h}</textarea><br/>
				描　述：<textarea id="intro_page_desc"  class="clear-input seo-textarea">${intro_page_desc | h}</textarea>
			</td>
		</tr>
		<tr> 
			<th width="80px">页面标题后缀</th>
			<td>
				<textarea id="title_suffix" class="clear-input seo-textarea">${title_suffix | h}</textarea><br/>
			</td>
		</tr>		
		<tr> 
			<th width="80px">底部Foot文字</th>
			<td>
				<textarea id="bottom_footer_text" class="clear-input seo-textarea">${bottom_footer_text | h}</textarea><br/>
			</td>
		</tr>
		<tr>   
			<th></th> 
			<td>
				<a href="javascript:void(0);" id="save-btn" class="btn">保存</a> <span id="msg" style="color:red"></span>
			</td>
		</tr>	
	</table>  
 
</%block>  
<%block name="jsextra">

<script type="text/javascript">
	$("#save-btn").click(function(){
		$("#msg").html("");
		$.ajax({
            type: "POST",
            url: "",
            data: {index_page_keyword:$("#index_page_keyword").val(), index_page_desc:$("#index_page_desc").val(), 
            	list_page_keyword:$("#list_page_keyword").val(), 
            	list_page_desc:$("#list_page_desc").val(), 
            	intro_page_keyword:$("#intro_page_keyword").val(), 
            	intro_page_desc:$("#intro_page_desc").val(), 
            	bottom_footer_text:$("#bottom_footer_text").val(),
            	title_suffix:$("#title_suffix").val()
            },
            dataType: "json",
            success: function (response) {
                $("#msg").html("保存成功");
            },
            error: function (msg) {
                alert(msg);
            }
        });
	});
</script>
</%block>

