document.writeln("<link href=\"http:\/\/lms.pmphmooc.com\/static\/css\/lms-style-vendor.d820297ddeb0.css\" rel=\"stylesheet\" type=\"text\/css\" ><\/link>");
document.writeln("<link href=\"http:\/\/lms.pmphmooc.com\/static\/css\/lms-style-app.d5903f9c3730.css\" rel=\"stylesheet\" type=\"text\/css\"><\/link>");
document.writeln("<link href=\"http:\/\/lms.pmphmooc.com\/static\/css\/lms-style-app-extend1.cf08999c85f6.css\" rel=\"stylesheet\" type=\"text\/css\" ><\/link>");
document.writeln("<link href=\"http:\/\/lms.pmphmooc.com\/static\/css\/lms-style-app-extend2.75d65fcb6b08.css\" rel=\"stylesheet\" type=\"text\/css\"><\/link>");
document.writeln("<script type=\"text\/javascript\" src=\"http:\/\/lms.pmphmooc.com\/static\/js\/lms-main_vendor.19fc82a8a2be.js\" charset=\"utf-8\"><\/script>");
document.writeln("<script type=\"text\/javascript\" src=\"http:\/\/lms.pmphmooc.com\/static\/js\/lms-application.366f5e9a8fcb.js\" charset=\"utf-8\"><\/script>");
document.writeln("<script type=\"text\/javascript\" src=\"http:\/\/lms.pmphmooc.com\/static\/js\/lms-modules.4f030e65bca3.js\" charset=\"utf-8\"><\/script>");
document.writeln("  <header class=\"global\" aria-label=\"全局导航\">");
document.writeln("  <nav>");
document.writeln("  <h1 class=\"logo\">");
document.writeln("    <a href=\"http:\/\/www.pmphmooc.com\/\">");
document.writeln("          <img src=\"http:\/\/lms.pmphmooc.com\/static\/images\/header-logo.png\" alt=\"\" \/>");
document.writeln("    <\/a>");
document.writeln("  <\/h1>");
document.writeln("    <ol class=\"left\">");
document.writeln("          <li class=\"nav-global-01\">");
document.writeln("            <a style=\"color:#2883bc;\" href=\"http:\/\/lms.pmphmooc.com\/courses\">慕课<\/a>");
document.writeln("          <\/li>");
document.writeln("          <li class=\"nav-global-01\">");
document.writeln("            <a href=\"http:\/\/exam2013.ipmph.com\/gkk\/\">公开课<\/a>");
document.writeln("          <\/li>");
document.writeln("          <li class=\"nav-global-01\">");
document.writeln("            <a href=\"http:\/\/exam2013.ipmph.com\/lmcy\/\">联盟成员<\/a>");
document.writeln("          <\/li>");
document.writeln("          <li class=\"nav-global-01\">");
document.writeln("            <a href=\"http:\/\/exam2013.ipmph.com\/gg\/\">公告<\/a>");
document.writeln("          <\/li>");
document.writeln("          <li class=\"nav-global-01\">");
document.writeln("            <a href=\"http:\/\/exam2013.ipmph.com\/gy\/\">关于<\/a>");
document.writeln("          <\/li>");
document.writeln("    <\/ol>");
document.writeln("    <ol id=\"ydl\" class=\"user\" style=\"display:none\">");
document.writeln("      <li class=\"primary\">");
document.writeln("        <a href=\"\/dashboard\" class=\"user-link\">");
document.writeln("          <span class=\"avatar\"><\/span>");
document.writeln("          <span class=\"sr\">控制面板： <\/span> <div id=\"login_username\">honor<\/div>");
document.writeln("        <\/a>");
document.writeln("      <\/li>");
document.writeln("      <li class=\"primary\">");
document.writeln("        <a href=\"#\" class=\"dropdown\" aria-haspopup=\"true\" aria-expanded=\"false\"><span class=\"sr\">更多选择下拉列表<\/span> &#9662;<\/a>");
document.writeln("        <ul class=\"dropdown-menu\" aria-label=\"More Options\" role=\"menu\">");
document.writeln("            <li><a href=\"\/faq\">帮助<\/a><\/li>");
document.writeln("          <li><a href=\"\/logout\" role=\"menuitem\">注销<\/a><\/li>");
document.writeln("        <\/ul>");
document.writeln("      <\/li>");
document.writeln("    <\/ol>");
document.writeln("    <ol id=\"wdl1\" class=\"right nav-courseware\" style=\"margin-right:108px;display:none\" >");
document.writeln("     <li class=\"nav-courseware-01\">");
document.writeln("          <a class=\"cta cta-login\" style=\"font-size: 15px;border-radius: 0px;\" href=\"\/login\">登录<\/a>");
document.writeln("     <\/li>");
document.writeln("    <\/ol>");
document.writeln("    <ol id=\"wdl2\" class=\"right nav-courseware\" style=\"display:none\">");
document.writeln("          <li>");
document.writeln("            <a class=\"cta cta-register click\" style=\"border-radius: 0px;font-size: 15px;\" href=\"\/register\">注册<\/a>");
document.writeln("          <\/li>");
document.writeln("    <\/ol>");
document.writeln("  <\/nav>");
document.writeln("<\/header>");
document.writeln("<script language=\"javascript\">");
document.writeln("$(document).ready(function(){");
document.writeln("    $(\".backToTop:first\").remove();");
document.writeln("    logged_username = $.cookie(\'logged_username\');");
document.writeln("    if(logged_username){");
document.writeln("        $(\"#ydl\").css(\"display\",\"block\");");
document.writeln("        $(\"#wdl1\").css(\"display\",\"none\");");
document.writeln("        $(\"#wdl2\").css(\"display\",\"none\");");
document.writeln("        $(\"#login_username\").html(logged_username);");
document.writeln("");
document.writeln("    }else{");
document.writeln("        $(\"#ydl\").css(\"display\",\"none\");");
document.writeln("        $(\"#wdl1\").css(\"display\",\"block\");");
document.writeln("        $(\"#wdl2\").css(\"display\",\"block\");");
document.writeln("    }");
document.writeln("});");
document.writeln("<\/script>");