document.writeln("<script language=\"javascript\">");
document.writeln("$(document).ready(function(){");
document.writeln("    logged_username = $.cookie(\'logged_username\');");
document.writeln("    if(logged_username){");
document.writeln("        $(\"#ydl\").css(\"display\",\"block\");");
document.writeln("        $(\"#wdl1\").css(\"display\",\"none\");");
document.writeln("        $(\"#wdl2\").css(\"display\",\"none\");");
document.writeln("        $(\"#login_username\").html(logged_username);");
document.writeln("    }else{");
document.writeln("        $(\"#ydl\").css(\"display\",\"none\");");
document.writeln("        $(\"#wdl1\").css(\"display\",\"block\");");
document.writeln("        $(\"#wdl2\").css(\"display\",\"block\");");
document.writeln("    }");
document.writeln("var curloc = window.location.href;");
document.writeln("$(\".nav-global-01\").children(\"a\").css(\"color\",\"\");");
document.writeln("if(curloc.indexOf(\"/courses\")>0){$(\".nav-global-01:eq(0)\").children(\"a\").css(\"color\",\"#2883bc\");}");
document.writeln("if(curloc.indexOf(\"/gkk\")>0){$(\".nav-global-01:eq(1)\").children(\"a\").css(\"color\",\"#2883bc\");}");
document.writeln("if(curloc.indexOf(\"/lmcy\")>0){$(\".nav-global-01:eq(2)\").children(\"a\").css(\"color\",\"#2883bc\");}");
document.writeln("if(curloc.indexOf(\"/gg\")>0){$(\".nav-global-01:eq(3)\").children(\"a\").css(\"color\",\"#2883bc\");}");
document.writeln("if(curloc.indexOf(\"/gy\")>0){$(\".nav-global-01:eq(4)\").children(\"a\").css(\"color\",\"#2883bc\");}");
document.writeln("});");
document.writeln("<\/script>");