
document.writeln("<html><head>");
document.writeln("           <script");
document.writeln("> ");
document.writeln("var site_domain='${settings.JS_HEAD_DOMAIN}'");
document.writeln("var SSO_LOGOUT_URL='${settings.SSO_LOGOUT_URL}'");
document.writeln("");
document.writeln("           </script");

document.writeln("<link href=\"${settings.JS_HEAD_DOMAIN}\/static\/sass\/application.css\" rel=\"stylesheet\" type=\"text\/css\" ><\/link>");
document.writeln("<link href=\"${settings.JS_HEAD_DOMAIN}\/static\/sass\/ie.css\" rel=\"stylesheet\" type=\"text\/css\" ><\/link>");
document.writeln("<link href=\"${settings.JS_HEAD_DOMAIN}\/static\/sass\/application-extend1.css\" rel=\"stylesheet\" type=\"text\/css\" ><\/link>");
document.writeln("<link href=\"${settings.JS_HEAD_DOMAIN}\/static\/sass\/application-extend2.css\" rel=\"stylesheet\" type=\"text\/css\" ><\/link>");

document.writeln("<link href=\"${settings.JS_HEAD_DOMAIN}\/static\/css\/lms-style-vendor.css\" rel=\"stylesheet\" type=\"text\/css\" ><\/link>");
document.writeln("<link href=\"${settings.JS_HEAD_DOMAIN}\/static\/css\/lms-style-app.css\" rel=\"stylesheet\" type=\"text\/css\"><\/link>");
document.writeln("<link href=\"${settings.JS_HEAD_DOMAIN}\/static\/css\/lms-style-app-extend1.css\" rel=\"stylesheet\" type=\"text\/css\" ><\/link>");
document.writeln("<link href=\"${settings.JS_HEAD_DOMAIN}\/static\/css\/lms-style-app-extend2.css\" rel=\"stylesheet\" type=\"text\/css\"><\/link>");
document.writeln("<script type=\"text\/javascript\" src=\"${settings.JS_HEAD_DOMAIN}\/static\/js\/vendor\/jquery.min.js\" charset=\"utf-8\"><\/script>");
document.writeln("<script type=\"text\/javascript\" src=\"${settings.JS_HEAD_DOMAIN}\/static\/js\/vendor\/jquery.cookie.js\" charset=\"utf-8\"><\/script>");
document.writeln("<script type=\"text\/javascript\" src=\"${settings.JS_HEAD_DOMAIN}\/static\/js\/index_lms.js\" charset=\"utf-8\"><\/script>");
document.writeln("<script type=\"text\/javascript\" src=\"${settings.JS_HEAD_DOMAIN}\/static\/js\/bootstrap.min.js\" charset=\"utf-8\"><\/script>");
document.writeln("<script type=\"text\/javascript\" src=\"${settings.JS_HEAD_DOMAIN}\/static\/js\/my_courses_dropdown.js\" charset=\"utf-8\"><\/script>");
document.writeln("<\/head>"); 
document.writeln("<body>");  
document.writeln("  <header class=\"global\" aria-label=\"全局导航\">");
document.writeln("  <nav>");
document.writeln("  <h1 class=\"logo\">");
document.writeln("    <a href=\"${settings.JS_HEAD_DOMAIN}\/\">");
document.writeln("          <img width=\"250px\" height=\"52px\" src=\"${settings.JS_HEAD_DOMAIN}\/store\/images\/logo.png\" alt=\"\" \/>");
document.writeln("    <\/a>");
document.writeln("  <\/h1>");
document.writeln("    <ol class=\"left\">");
document.writeln("          <li class=\"nav-global-01\">");
document.writeln("            <a style=\"color:#2883bc;\" href=\"${settings.JS_HEAD_DOMAIN}\/courses\">慕课<\/a>");
document.writeln("          <\/li>");
document.writeln("          <li class=\"nav-global-01\">");
document.writeln("            <a href=\"${settings.JS_HEAD_DOMAIN}\/gkk\/\">公开课<\/a>");
document.writeln("          <\/li>");
document.writeln("          <li class=\"nav-global-01\">");
document.writeln("            <a href=\"${settings.JS_HEAD_DOMAIN}\/lmcy\/\">联盟成员<\/a>");
document.writeln("          <\/li>");
document.writeln("          <li class=\"nav-global-01\">");
document.writeln("            <a href=\"${settings.JS_HEAD_DOMAIN}\/gg\/\">公告<\/a>");
document.writeln("          <\/li>");
document.writeln("          <li class=\"nav-global-01\">");
document.writeln("            <a href=\"${settings.JS_HEAD_DOMAIN}\/gy\/\">关于<\/a>");
document.writeln("          <\/li>");
document.writeln("    <\/ol>");

document.writeln("<ol class=\"right downloads\">");
document.writeln("          <li style=\"font-size: 15px; z-index:100; margin-left:-10px; margin-top:10px;\"><span>客户端下载</span>");
document.writeln("            <div class=\"bg_pic001\"></div>");
document.writeln("            <ul class=\"app_01\" style=\"z-index:10;\">");
document.writeln("            <li class=\"anzhuo01\"><a href=\"#\">Phone</a>");
document.writeln("              <div class=\"bg_weixin\" style=\"\"><img width=\"23\" height=\"23\" src=\"${settings.JS_HEAD_DOMAIN}/static/images/bg_weixin.png\" class=\"x_show1\">");
document.writeln("                <div class=\"erweima show\" style=\"display: none;\"><img width=\"225\" height=\"225\" src=\"${settings.JS_HEAD_DOMAIN}/static/images/qr_wechat.jpg\" style=\"display:inline-block; margin:7px 0 0 7px;\"></div>");
document.writeln("              </div>");
document.writeln("            </li>");
document.writeln("            <li class=\"weixin01\"><a href=\"#\">微信</a>");
document.writeln("              <div class=\"bg_weixin2\" style=\"margin-left:10px; width:23px; position:relative; left:122px; top:-43px; z-index:20;\"><img width=\"23\" height=\"23\" src=\"${settings.JS_HEAD_DOMAIN}/static/images/bg_weixin.png\" class=\"x_show2\">");
document.writeln("              </div>");
document.writeln("              </li>");
document.writeln("           <li class=\"weixin01 ios01\"><a href=\"#\">Pad</a>");
document.writeln("              <div class=\"bg_weixin2\" style=\"margin-left:10px; width:23px; position:relative; left:122px; top:-43px; z-index:20;\"><img width=\"23\" height=\"23\" src=\"${settings.JS_HEAD_DOMAIN}/static/images/bg_weixin.png\" class=\"x_show3\">");
document.writeln("              </div>");
document.writeln("              </li>");
document.writeln("               <div class=\"empty1\"></div>");
document.writeln("            </ul>");
document.writeln("          </li>");
document.writeln("    </ol>");


document.writeln("    <ol id=\"ydl\" class=\"user\" style=\"display:none\">");
document.writeln("      <li class=\"primary\">");
document.writeln("        <a href=\"${settings.JS_HEAD_DOMAIN}\/dashboard\" class=\"user-link\">");
document.writeln("          <span class=\"avatar\"><\/span>");
document.writeln("          <span class=\"sr\">控制面板： <\/span> <div id=\"login_username\">honor<\/div>");
document.writeln("        <\/a>");
document.writeln("      <\/li>");
document.writeln("      <li class=\"primary\">");
document.writeln("        <a href=\"#\" class=\"dropdown\" aria-haspopup=\"true\" aria-expanded=\"false\"><span class=\"sr\">更多选择下拉列表<\/span> &#9662;<\/a>");
document.writeln("        <ul class=\"dropdown-menu\" aria-label=\"More Options\" role=\"menu\">");
document.writeln("            <li><a href=\"${settings.JS_HEAD_DOMAIN}\/faq\">帮助<\/a><\/li>");
document.writeln("          <li><a id=\"logout\" href=\"javascript:void(0)\" url=\"\/logout\" role=\"menuitem\">退出登录<\/a><\/li>");
document.writeln("        <\/ul>");
document.writeln("      <\/li>");
document.writeln("    <\/ol>");
document.writeln("    <ol id=\"wdl1\" class=\"right nav-courseware\" style=\"margin-right:5px;display:none\" >");
document.writeln("     <li class=\"nav-courseware-01\">");
document.writeln("          <a class=\"cta cta-login\" style=\"font-size: 15px;border-radius: 0px;\" href=\"${settings.JS_HEAD_DOMAIN}\/login\">登录<\/a>");
document.writeln("     <\/li>");
document.writeln("    <\/ol>");
document.writeln("    <ol id=\"wdl2\" class=\"right nav-courseware\" style=\"display:none\">");
document.writeln("          <li>");
document.writeln("            <a class=\"cta cta-register click\" style=\"border-radius: 0px;font-size: 15px;\" href=\"${settings.JS_HEAD_DOMAIN}\/register\">注册<\/a>");
document.writeln("          <\/li>");
document.writeln("    <\/ol>");
document.writeln("  <\/nav>");
document.writeln("<\/header>");
document.writeln("<\/body><\/html>");

