document.writeln("<script language=\"javascript\">");
document.writeln("$(document).ready(function(){");
document.writeln("    logged_username = $.cookie(\'logged_username\');");
document.writeln("    if(logged_username){");
document.writeln("        $(\"#ydl\").css(\"display\",\"block\");");
document.writeln("        $(\"#wdl1\").css(\"display\",\"none\");");
document.writeln("        $(\"#wdl2\").css(\"display\",\"none\");");
document.writeln("        $(\"#login_username\").html(logged_username);");
document.writeln("    }else{");
document.writeln("        $(\"#ydl\").css(\"display\",\"none\");");
document.writeln("        $(\"#wdl1\").css(\"display\",\"block\");");
document.writeln("        $(\"#wdl2\").css(\"display\",\"block\");");
document.writeln("    }");
document.writeln("});");
document.writeln("<\/script>");