<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("FAQ")}</%block>

<section class="container about">
<h1>${_("FAQ")}</h1>

    <table>
        <tr>
            <td colspan="3" style="align:left"><h5><strong>${_("One: The operating environment")}</strong></h5><br></td>
        </tr>
        <tr>
            <td><p>1、</p></td>
            <td><p>Q：</p></td>
            <td><p>${_("Operation Chinese medical education Mu class alliance learning platform needs the computer device or browser?")}</p></td>
        </tr>
        <tr>
            <td><p>&nbsp;</p></td>
            <td><p>A：</p></td>
            <td>
                <p>${_("You need a stable Internet connection, computer recommend at least 1 GB of memory.")}<br>
                ${_("We support the browser:")}<br>
                •Google Chrome(24 ${_("And above")})。<br>
                •Firefox(23 ${_("And above")})<br>
                •Safari(6.0 ${_("And above")})<br>
                •Internet Explorer(9.0 ${_("And above")})<br>
                ${_("Please update your browser, to avoid technical problems!")}</p>
            </td>
        </tr>
        <tr>
            <td><p>2、</p></td>
            <td><p>Q：</p></td>
            <td><p>${_("The abnormal situation of video connection, how to solve?")}</p></td>
        </tr>
        <tr>
            <td><p>&nbsp;</p></td>
            <td><p>A：</p></td>
            <td><p>${_("To use the browser such as Chrome, there appears to be only the image has no voice, please in the browser settings - advanced display settings, will use hardware acceleration mode (if available) a uncheck the box, and restart the browser, can be normal to watch;")}<br>
                ${_("At the same time for the network to your circumstances, could have an impact on video playback, it is recommended to contact the Internet service provider (EMAIL:service@diandiyun.com) or contact us, we will help you solve the problem.")}</p>
            </td>
        </tr>

        <tr>
            <td colspan="3" style="align:left"><h5><strong>${_("Two: Course Content")}</strong></h5></td>
        </tr>
         <tr>
            <td><p>1、</p></td>
            <td><p>Q：</p></td>
            <td><p>${_("Bit by bit cloud education Mu class alliance includes what content?")}</p></td>
        </tr>
         <tr>
            <td><p>&nbsp;</p></td>
            <td><p>A：</p></td>
            <td><p>${_("Including security management, technology, technology, technology advanced primary intermediate for several kinds of.")}</p></td>
        </tr>
        <tr>
            <td><p>2、 </p></td>
            <td><p>Q：</p></td>
            <td><p>${_("Can I download the video lessons?")}</p></td>
        </tr>
        <tr>
            <td><p>&nbsp;</p></td>
            <td><p>A: </p></td>
            <td><p>${_("Can. You can play the page to download video files and other video resources from video.")}</p></td>
        </tr>

            <tr>
            <td><p>3、</p></td>
            <td><p> Q：</p></td>
            <td><p>${_("The course of how long an update?")}</p></td>
        </tr>
            <tr>
            <td><p>&nbsp;</p></td>
            <td><p>A：</p></td>
            <td><p>${_("Updated regularly according to the courseware upload situation.")}</p></td>
        </tr>

        <tr>
            <td colspan="3"><h5><strong>${_("Three: Course Policy")}</strong></h5></td>
        </tr>
        <tr>
            <td><p>1、 </p></td>
            <td><p>Q：</p></td>
            <td><p>${_("To learn a course, I have to finish all the homework?")}</p></td>
        </tr>
        <tr>
            <td><p>&nbsp;</p></td>
            <td><p>A：</p></td>
            <td><p>${_("Not. You can join any courses, and meet the relevant policy in the speaker's requirements, and also hope to obtain a certificate.")}</p></td>
        </tr>
        <tr>
            <td><p>2、 </p></td>
            <td><p>Q：</p></td>
            <td><p>${_("Many times I can take another course?")}</p></td>
        </tr>
        <tr>
            <td><p>&nbsp;</p></td>
            <td><p>A：</p></td>
            <td><p> ${_("Courses can be restored, as long as your reference procedures, submit homework content material.")}</p></td>
        </tr>
        <tr>
            <td><p>3、</p></td>
            <td><p>Q：</p></td>
            <td><p>${_("I can go to as many classes?")}</p></td>
        </tr>
        <tr>
            <td><p>&nbsp;</p></td>
            <td><p>A：</p></td>
            <td><p>${_("According to your wishes.")}</p></td>
        </tr>
        <tr>
            <td><p>4、 </p></td>
            <td><p>Q：</p></td>
            <td><p>${_("If I study in bit by bit cloud education Mu class alliance platform course, will obtain the certificate?")}</p></td>
        </tr>
        <tr>
            <td><p>&nbsp;</p></td>
            <td><p> A：</p></td>
            <td><p>${_("After dropping cloud education Mu class alliance learning platform completed the relevant course and pass the examination, you can get a certificate.")}</p></td>
        </tr>

    </table>
</section>
