<%! from django.utils.translation import ugettext as _ %>


<%! from django.core.urlresolvers import reverse %>
<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>

<%! from microsite_configuration import microsite %>
<%! from syscustom.models import CustomImage%>

<%
  homepage_overlay_html = microsite.get_value('homepage_overlay_html')

  show_homepage_promo_video = microsite.get_value('show_homepage_promo_video', True)
  homepage_promo_video_youtube_id = microsite.get_value('homepage_promo_video_youtube_id', "XNaiOGxWeto")

  show_partners = microsite.get_value('show_partners', True)

  luobo_list = CustomImage.objects.filter(type=1).order_by('order_num', 'id')[:8]
%>
<script type="text/javascript" src="${static.url('js/index_lms.js')}"></script>
<link href="/static/images/member/css/css.css" rel="stylesheet" type="text/css">

<div class="default_banner">
       <div class="big-img" id="big-img">
       	% for item in luobo_list:
       		<a href="${item.url if item.url else '#'}">
                <li style="width:100%; height:350px; text-align:center; background:#0884c4; position:absolute; top:0; list-style:none; z-index:99">
                <img class="big_b1" usemap="#testmap" id="big1" src="${item.get_image_url()}" width="1180" height="350" style="opacity:1;z-index:1; filter:alpha(opacity:100);">
                </img>
                </li>
            </a>
       	% endfor 
       </div>
     	<div class="small">
               <ul class="small_m">
                     <div class="s_pre" id="prevBtn"></div>
                     <div class="scroll_pic" id="tab-btn">
                  		% for item in luobo_list:
                     		<li><img src="/static/images/index3_07.png"  alt=""/></li>
                     	% endfor
                     </div>
                     <div class="s_next" id="nextBtn"></div>
               </ul>
       </div>
   </div>
<!--banner end-->


<!--content begin-->
<div class="content">
    <div class="wrapper">
   	<div class="filter_courses">
    <div class="course-content">
      <div class="content-body">
        <div class="selection-panel">
          <div class="filter fl">
            <div class="filter-title fl"><span>成员分类</span><strong id="classify"></strong></div>
            <div class="filter-ul fl">
              <ul id="searbar">
                      <li id="subjectsearbar" class="tab1" style="display: none;"><div><strong>科目：</strong><span></span></div></li>
              </ul>
            </div>
          </div>
          <div class="select-menu">
            <div class="select-subject">
              <div class="subject">
                <div class="subject-left">科目：</div>
                <div class="subject-right subject-right2">
                  <ul id="card0">
                      <li class="focus tab1" name="all"><span>全部</span></li>
                            <li class="tab1" name="XSecure"><span>综合院校</span></li>
                            <li class="tab1" name="CTec"><span>专科院校</span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div id="card00" style="display:block;">
  <div class="search_position">
    <div class="search_box">
      <i class="search_icon"></i>
      <input id="search" class="search" type="text" aria-described-by="email-tip" aria-required="true" required placeholder="请输入您要查询的课程" value="" name="">
      <input type="submit" class="search_button" value="搜索">
      </div>
  </div>
      <div class="hz_school">
        <h2>
点滴云教育慕课联盟平台</h2>
        <ul>
          <li>
            <a href="alliance_members_scholl.html">
              <div class="text_con1">
                <img src="/static/images/member/img/7.png"  alt=""/>
                </div>
              <div class="text_con2">
                <img src="/static/images/member/img/school2_03.gif"  alt=""/>
                <p>浙江大学（Zhejiang University）简称“浙大”，前身是1897年创建的求是书院，是中国人自己最早创办的现代高等学府之一。1928年更名为国立浙江大学。</p>
                </div>
            </a>            </li>
          <li>
            <a href="alliance_members_scholl.html">
              <div class="text_con1">
                <img src="/static/images/member/img/8.png"  alt=""/>
                </div>
              <div class="text_con2">
               <img src="/static/images/member/img/school2_03.gif"   alt=""/>
                <p>浙江大学（Zhejiang University）简称“浙大”，前身是1897年创建的求是书院，是中国人自己最早创办的现代高等学府之一。1928年更名为国立浙江大学。</p>
                </div>
            </a>            </li>
          <li>
            <a href="alliance_members_scholl.html">
              <div class="text_con1">
                <img src="/static/images/member/img/9.png"  alt=""/></div>
              <div class="text_con2">
                <img src="/static/images/member/img/school2_03.gif"  alt=""/>
                <p>浙江大学（Zhejiang University）简称“浙大”，前身是1897年创建的求是书院，是中国人自己最早创办的现代高等学府之一。1928年更名为国立浙江大学。</p>
                </div>
            </a>            </li>
          <li>
            <a href="alliance_members_scholl.html">
              <div class="text_con1">
                <img src="/static/images/member/img/10.png"  alt=""/></div>
              <div class="text_con2">
                <img src="/static/images/member/img/school2_03.gif"  alt=""/>
                <p>浙江大学（Zhejiang University）简称“浙大”，前身是1897年创建的求是书院，是中国人自己最早创办的现代高等学府之一。1928年更名为国立浙江大学。</p>
                </div>
            </a>            </li>
          <li>
            <a href="alliance_members_scholl.html">
              <div class="text_con1">
                <img src="/static/images/member/img/11.png"  alt=""/></div>
              <div class="text_con2">
                <img src="/static/images/member/img/school2_03.gif"  alt=""/>
                <p>浙江大学（Zhejiang University）简称“浙大”，前身是1897年创建的求是书院，是中国人自己最早创办的现代高等学府之一。1928年更名为国立浙江大学。</p>
                </div>
            </a>            </li>
          <li>
            <a href="alliance_members_scholl.html">
              <div class="text_con1">
                <img src="/static/images/member/img/12.png"  alt=""/></div>
              <div class="text_con2">
               <img src="/static/images/member/img/school2_03.gif"  alt=""/>
                <p>浙江大学（Zhejiang University）简称“浙大”，前身是1897年创建的求是书院，是中国人自己最早创办的现代高等学府之一。1928年更名为国立浙江大学。</p>
                </div>
            </a>            </li>
          <li>
            <a href="alliance_members_scholl.html">
              <div class="text_con1">
                <img src="/static/images/member/img/13.png"  alt=""/></div>
              <div class="text_con2">
                <img src="/static/images/member/img/school2_03.gif"  alt=""/>
                <p>浙江大学（Zhejiang University）简称“浙大”，前身是1897年创建的求是书院，是中国人自己最早创办的现代高等学府之一。1928年更名为国立浙江大学。</p>
                </div>
            </a>            </li>
          <li>
            <a href="alliance_members_scholl.html">
              <div class="text_con1">
                <img src="/static/images/member/img/14.png"  alt=""/></div>
              <div class="text_con2">
                <img src="/static/images/member/img/school2_03.gif"  alt=""/>
                <p>浙江大学（Zhejiang University）简称“浙大”，前身是1897年创建的求是书院，是中国人自己最早创办的现代高等学府之一。1928年更名为国立浙江大学。</p>
                </div>
            </a>            </li>
          <li>
            <a href="alliance_members_scholl.html">
              <div class="text_con1">
                <img src="/static/images/member/img/15.png"  alt=""/></div>
              <div class="text_con2">
                <img src="/static/images/member/img/school2_03.gif"  alt=""/>
                <p>浙江大学（Zhejiang University）简称“浙大”，前身是1897年创建的求是书院，是中国人自己最早创办的现代高等学府之一。1928年更名为国立浙江大学。</p>
                </div>
            </a>            </li>
          <li>
            <a href="alliance_members_scholl.html">
              <div class="text_con1">
                <img src="/static/images/member/img/16.png"  alt=""/></div>
              <div class="text_con2">
                <img src="/static/images/member/img/school2_03.gif"  alt=""/>
                <p>浙江大学（Zhejiang University）简称“浙大”，前身是1897年创建的求是书院，是中国人自己最早创办的现代高等学府之一。1928年更名为国立浙江大学。</p>
                </div>
            </a>            </li>
          <li>
            <a href="alliance_members_scholl.html">
              <div class="text_con1">
                <img src="/static/images/member/img/17.png"  alt=""/></div>
              <div class="text_con2">
               <img src="/static/images/member/img/school2_03.gif"  alt=""/>
                <p>浙江大学（Zhejiang University）简称“浙大”，前身是1897年创建的求是书院，是中国人自己最早创办的现代高等学府之一。1928年更名为国立浙江大学。</p>
                </div>
            </a>            </li>
          <li>
            <a href="alliance_members_scholl.html">
              <div class="text_con1">
                <img src="/static/images/member/img/18.png"  alt=""/></div>
              <div class="text_con2">
                <img src="/static/images/member/img/school2_03.gif"  alt=""/>
                <p>浙江大学（Zhejiang University）简称“浙大”，前身是1897年创建的求是书院，是中国人自己最早创办的现代高等学府之一。1928年更名为国立浙江大学。</p>
                </div>
            </a>            </li>
          <li>
            <a href="alliance_members_scholl.html">
              <div class="text_con1">
                <img src="/static/images/member/img/19.png"  alt=""/></div>
              <div class="text_con2">
                <img src="/static/images/member/img/school2_03.gif"  alt=""/>
                <p>浙江大学（Zhejiang University）简称“浙大”，前身是1897年创建的求是书院，是中国人自己最早创办的现代高等学府之一。1928年更名为国立浙江大学。</p>
                </div>
            </a>            </li>
          <li>
            <a href="alliance_members_scholl.html">
              <div class="text_con1">
                <img src="/static/images/member/img/20.png"  alt=""/></div>
              <div class="text_con2">
                <img src="/static/images/member/img/school2_03.gif"  alt=""/>
                <p>浙江大学（Zhejiang University）简称“浙大”，前身是1897年创建的求是书院，是中国人自己最早创办的现代高等学府之一。1928年更名为国立浙江大学。</p>
                </div>
            </a>            </li>
          <li>
            <a href="alliance_members_scholl.html">
              <div class="text_con1">
                <img src="/static/images/member/img/21.png"  alt=""/></div>
              <div class="text_con2">
                <img src="/static/images/member/img/school2_03.gif"  alt=""/>
                <p>浙江大学（Zhejiang University）简称“浙大”，前身是1897年创建的求是书院，是中国人自己最早创办的现代高等学府之一。1928年更名为国立浙江大学。</p>
                </div>
            </a>            </li>
            <li>
            <a href="alliance_members_scholl.html">
              <div class="text_con1">
                <img src="/static/images/member/img/22.png"  alt=""/></div>
              <div class="text_con2">
                <img src="/static/images/member/img/school2_03.gif"  alt=""/>
                <p>浙江大学（Zhejiang University）简称“浙大”，前身是1897年创建的求是书院，是中国人自己最早创办的现代高等学府之一。1928年更名为国立浙江大学。</p>
                </div>
            </a>            </li>
          </ul>
      </div>	
    </div>
    <div id="card01" style="display:none;">
    <div class="search_position">
    <div class="search_box">
      <i class="search_icon"></i>
      <input id="search" class="search" type="text" aria-described-by="email-tip" aria-required="true" required placeholder="请输入您要查询的课程" value="" name="">
      <input type="submit" class="search_button" value="搜索">
      </div>
  </div>
      <div class="hz_school">
        <h2>中国教育医学慕课联盟成员</h2>
        <ul>
           <li>
            <a href="alliance_members_scholl.html">
              <div class="text_con1">
                <h2><img src="/static/images/member/img/school.png"  alt=""/></h2>
                </div>
              <div class="text_con2">
                <h2><img src="/static/images/member/img/school2_03.gif"  alt=""/></h2>
                <p>浙江大学（Zhejiang University）简称“浙大”，前身是1897年创建的求是书院，是中国人自己最早创办的现代高等学府之一。1928年更名为国立浙江大学。</p>
                </div>
            </a>            </li>
          <li>
            <a href="alliance_members_scholl.html">
              <div class="text_con1">
                <h2><img src="/static/images/member/img/course_logo1.png"  alt=""/></h2>
                </div>
              <div class="text_con2">
                <h2><img src="/static/images/member/img/school2_03.gif"  alt=""/></h2>
                <p>浙江大学（Zhejiang University）简称“浙大”，前身是1897年创建的求是书院，是中国人自己最早创办的现代高等学府之一。1928年更名为国立浙江大学。</p>
                </div>
            </a>            </li>
          <li>
            <a href="alliance_members_scholl.html">
              <div class="text_con1">
                <h2><img src="/static/images/member/img/course_logo2.png"  alt=""/></h2></div>
              <div class="text_con2">
                <h2><img src="/static/images/member/img/school2_03.gif"  alt=""/></h2>
                <p>浙江大学（Zhejiang University）简称“浙大”，前身是1897年创建的求是书院，是中国人自己最早创办的现代高等学府之一。1928年更名为国立浙江大学。</p>
                </div>
            </a>            </li>
          <li>
            <a href="alliance_members_scholl.html">
              <div class="text_con1">
                <h2><img src="/static/images/member/img/course_logo3.png"  alt=""/></h2></div>
              <div class="text_con2">
                <h2><img src="/static/images/member/img/school2_03.gif"  alt=""/></h2>
                <p>浙江大学（Zhejiang University）简称“浙大”，前身是1897年创建的求是书院，是中国人自己最早创办的现代高等学府之一。1928年更名为国立浙江大学。</p>
                </div>
            </a>            </li>
          <li>
            <a href="alliance_members_scholl.html">
              <div class="text_con1">
                <h2><img src="/static/images/member/img/course_logo4.png"  alt=""/></h2></div>
              <div class="text_con2">
                <h2><img src="/static/images/member/img/school2_03.gif"  alt=""/></h2>
                <p>浙江大学（Zhejiang University）简称“浙大”，前身是1897年创建的求是书院，是中国人自己最早创办的现代高等学府之一。1928年更名为国立浙江大学。</p>
                </div>
            </a>            </li>
          <li>
            <a href="alliance_members_scholl.html">
              <div class="text_con1">
                <h2><img src="/static/images/member/img/course_logo5.png"  alt=""/></h2></div>
              <div class="text_con2">
                <h2><img src="/static/images/member/img/school2_03.gif"  alt=""/></h2>
                <p>浙江大学（Zhejiang University）简称“浙大”，前身是1897年创建的求是书院，是中国人自己最早创办的现代高等学府之一。1928年更名为国立浙江大学。</p>
                </div>
            </a>            </li>
          <li>
            <a href="alliance_members_scholl.html">
              <div class="text_con1">
                <h2><img src="/static/images/member/img/course_logo6.png"  alt=""/></h2></div>
              <div class="text_con2">
                <h2><img src="/static/images/member/img/school2_03.gif"  alt=""/></h2>
                <p>浙江大学（Zhejiang University）简称“浙大”，前身是1897年创建的求是书院，是中国人自己最早创办的现代高等学府之一。1928年更名为国立浙江大学。</p>
                </div>
            </a>            </li>
          <li>
            <a href="alliance_members_scholl.html">
              <div class="text_con1">
                <h2><img src="/static/images/member/img/course_logo7.png"  alt=""/></h2></div>
              <div class="text_con2">
                <h2><img src="/static/images/member/img/school2_03.gif"  alt=""/></h2>
                <p>浙江大学（Zhejiang University）简称“浙大”，前身是1897年创建的求是书院，是中国人自己最早创办的现代高等学府之一。1928年更名为国立浙江大学。</p>
                </div>
            </a>            </li>
          </ul>
      </div>	
    </div>
    <div id="card02" style="display:none;">
    <div class="search_position">
    <div class="search_box">
      <i class="search_icon"></i>
      <input id="search" class="search" type="text" aria-described-by="email-tip" aria-required="true" required placeholder="请输入您要查询的课程" value="" name="">
      <input type="submit" class="search_button" value="搜索">
      </div>
  </div>
      <section class="hz_school">
        <h2>中国教育医学慕课联盟成员</h2>
        <ul>
          <li>
            <a href="alliance_members_scholl.html">
              <div class="text_con1">
                <h2><img src="/static/images/member/img/course_logo8.png"  alt=""/></h2></div>
              <div class="text_con2">
                <h2><img src="/static/images/member/img/school2_03.gif"  alt=""/></h2>
                <p>浙江大学（Zhejiang University）简称“浙大”，前身是1897年创建的求是书院，是中国人自己最早创办的现代高等学府之一。1928年更名为国立浙江大学。</p>
                </div>
            </a>            </li>
          <li>
            <a href="alliance_members_scholl.html">
              <div class="text_con1">
                <h2><img src="/static/images/member/img/course_logo16.png"  alt=""/></h2></div>
              <div class="text_con2">
                <h2><img src="/static/images/member/img/school2_03.gif"  alt=""/></h2>
                <p>浙江大学（Zhejiang University）简称“浙大”，前身是1897年创建的求是书院，是中国人自己最早创办的现代高等学府之一。1928年更名为国立浙江大学。</p>
                </div>
            </a>            </li>
          <li>
            <a href="alliance_members_scholl.html">
              <div class="text_con1">
                <h2><img src="/static/images/member/img/course_logo10.png"  alt=""/></h2></div>
              <div class="text_con2">
                <h2><img src="/static/images/member/img/school2_03.gif"  alt=""/></h2>
                <p>浙江大学（Zhejiang University）简称“浙大”，前身是1897年创建的求是书院，是中国人自己最早创办的现代高等学府之一。1928年更名为国立浙江大学。</p>
                </div>
            </a>            </li>
          <li>
            <a href="alliance_members_scholl.html">
              <div class="text_con1">
                <h2><img src="/static/images/member/img/course_logo11.png"  alt=""/></h2></div>
              <div class="text_con2">
                <h2><img src="/static/images/member/img/school2_03.gif"  alt=""/></h2>
                <p>浙江大学（Zhejiang University）简称“浙大”，前身是1897年创建的求是书院，是中国人自己最早创办的现代高等学府之一。1928年更名为国立浙江大学。</p>
                </div>
            </a>            </li>
          <li>
            <a href="alliance_members_scholl.html">
              <div class="text_con1">
                <h2><img src="/static/images/member/img/course_logo12.png"  alt=""/></h2></div>
              <div class="text_con2">
                <h2><img src="/static/images/member/img/school2_03.gif"  alt=""/></h2>
                <p>浙江大学（Zhejiang University）简称“浙大”，前身是1897年创建的求是书院，是中国人自己最早创办的现代高等学府之一。1928年更名为国立浙江大学。</p>
                </div>
            </a>            </li>
          <li>
            <a href="alliance_members_scholl.html">
              <div class="text_con1">
                <h2><img src="/static/images/member/img/course_logo13.png"  alt=""/></h2></div>
              <div class="text_con2">
                <h2><img src="/static/images/member/img/school2_03.gif"  alt=""/></h2>
                <p>浙江大学（Zhejiang University）简称“浙大”，前身是1897年创建的求是书院，是中国人自己最早创办的现代高等学府之一。1928年更名为国立浙江大学。</p>
                </div>
            </a>            </li>
          <li>
            <a href="alliance_members_scholl.html">
              <div class="text_con1">
                <h2><img src="/static/images/member/img/course_logo14.png"  alt=""/></h2></div>
              <div class="text_con2">
                <h2><img src="/static/images/member/img/school2_03.gif"  alt=""/></h2>
                <p>浙江大学（Zhejiang University）简称“浙大”，前身是1897年创建的求是书院，是中国人自己最早创办的现代高等学府之一。1928年更名为国立浙江大学。</p>
                </div>
            </a>            </li>
          <li>
            <a href="alliance_members_scholl.html">
              <div class="text_con1">
                <h2><img src="/static/images/member/img/course_logo15.png"  alt=""/></h2></div>
              <div class="text_con2">
                <h2><img src="/static/images/member/img/school2_03.gif"  alt=""/></h2>
                <p>浙江大学（Zhejiang University）简称“浙大”，前身是1897年创建的求是书院，是中国人自己最早创办的现代高等学府之一。1928年更名为国立浙江大学。</p>
                </div>
            </a>            </li>
          </ul>
      </div>	
    </div>
  </div>
</div>
<!--content end-->



</section>

<script type="text/javascript" src="${static.url('static/images/member/js/tab1.js')}"></script>
