<%inherit file="institution_base.html" />
<%!
  from django.utils.translation import ugettext as _
%>
<%block name="title">${_("Information List Of Teachers' Course")}</%block>
<%block name="content">
<script type="text/javascript">
    function onchanged(){
        var dd = document.getElementById("depaterment");
        if (dd.value == 'high_to_low'){
            self.location="/all_courses?or_by=high_to_low"
        }else if(dd.value == 'low_to_high') {
            self.location="/all_courses?or_by=low_to_high"
        }
    }
</script>
<div class="wrapper-mast wrapper">
    <header class="mast has-actions has-subtitle">
        <h1 class="page-header">
            <a href="/all_courses"><span class="sr">&gt; </span>${_("Information List Of Teachers' Course")}</a>
        </h1>
    </header>
    <section class="content" style="min-height: 670px;">
        <nav>
          <table>
              <tr>
                  <form name="queryform" class="search-container search" id="search-form" action="/all_courses" method="get" onsubmit="return chkform(this)">
                     <td><div id="remind"></div></td>
                     <td><input type="text" id="search-query" name="query"  class="search" placeholder="${_('Please input a keyword...')}" onfocus="placeholder =''" onblur="placeholder='请输入关键字...'" value=""></td>
                     <td><input type="submit" class="search_button" value="${_('search')}"></td>
                  </form>
                   <td>
                     <select name="depaterment" id="depaterment" onchange="onchanged()">
                       <option value="">${_("Sort by the number of applicants")}</option>
                       <option value="high_to_low">${_("From high to low order")}</option>
                       <option value="low_to_high">${_("From low to high order")}</option>
                     </select>
                   </td>
              </tr>
          </table>
       </nav>
     <hr/>
        <table width="1100" class="table1">
        % if len(posts):
                <tr>
                    <td>${_("Course Name")}</td>
                    <td>${_("Creater")}</td>
                    <td>${_("Email")}</td>
                    <td>${_("Institutions")}</td>
                    <td>${_("The number of applicants")}</td>
                </tr>
            %for n in range(0, len(posts)):
                <tr>
                    <td>${posts[n][0]}</td>
                    <td>${posts[n][1]}</td>
                    <td>${posts[n][2]}</td>
                    <td>${posts[n][3]}</td>
                    <td>${posts[n][4]}</td>
                </tr>
            %endfor
        % else:
            暂无课程
        %endif
        </table>
        <%include file="fenye.html"/>
    </section>

</%block>