<%inherit file="institution_base.html" />
<%block name="title">机构教师课程信息</%block>
<%block name="content">
<div class="wrapper-mast wrapper">
    <header class="mast has-actions has-subtitle">
        <h1 class="page-header">
            <a href="${url_in_courses}"><span class="sr">&gt; </span>机构教师课程信息</a>
        </h1>
    </header>
    <section class="content">
     <nav>
    <form name="queryform" class="search-container search" id="search-form" action="${url_in_courses}" method="get" onsubmit="return chkform(this)">
          <!--<input type="text" id="search-query" name="query"  onfocus="if (value =='请输入关键字...'){value =''}" onblur="if (value ==''){value='请输入关键字...'}" value="">-->
          <table>
              <tr>
                  <td><div id="remind"></div></td>
                  <td><input type="text" id="search-query" name="query"  class="search" placeholder="请输入关键字..." onfocus="placeholder =''" onblur="placeholder='请输入关键字...'" value=""></td>
                  <td><input type="submit" class="search_button" value="搜索"></td>
              </tr>
          </table>
    </form>
    </nav>
     <hr/>
        <table width="1000" class="table1">
        % if len(course_institution):
                <tr>
                    <td>课程名称</td>
                    <td>创建人</td>
                    <td>邮箱</td>
                    <td>所属机构</td>
                    <td>报名人数</td>
                </tr>
            %for n in range(0, len(course_institution)):
                <tr>
                    <td>${course_institution[n][0]}</td>
                    <td>${course_institution[n][1]}</td>
                    <td>${course_institution[n][2]}</td>
                    <td>${course_institution[n][3]}</td>
                    <td>${course_institution[n][4]}</td>
                </tr>
            %endfor
        % else:
            本机构教师暂无课程
        %endif
        </table>
        <%include file="fenye.html" args="posts=course_institution" />
    </section>

</%block>