<%inherit file="institution_base.html" />
<%!
  from django.utils.translation import ugettext as _
%>
<%block name="title">${_("Institution Management")}</%block>
<%block name="content">
<script type="text/javascript">
    function onchanged(){
        var dd = document.getElementById("depaterment");
        if (dd.value == 'high_to_low'){
            self.location="/institute_info?or_by=high_to_low"
        }else if(dd.value == 'low_to_high') {
            self.location="/institute_info?or_by=low_to_high"
        }
    }
</script>
<div class="wrapper-mast wrapper">
    <header class="mast has-actions has-subtitle">
        <h1 class="page-header">
            <a href="/institute_info"><span class="sr">&gt; </span>${_("The Information Of Institution")}</a>
        </h1>
    </header>
    <section class="content" style="min-height: 670px;">
        <nav>
          <table>
              <tr>
                  <form name="queryform" class="search-container search" id="search-form" action="/institute_info" method="get" onsubmit="return chkform(this)">
                     <td><div id="remind"></div></td>
                     <td><input type="text" id="search-query" name="query"  class="search" placeholder="${_('Please input a keyword...')}" onfocus="placeholder =''" onblur="placeholder='请输入关键字...'" value=""></td>
                     <td><input type="submit" class="search_button" value="${_('search')}"></td>
                  </form>
                   <td>
                     <select name="depaterment" id="depaterment" onchange="onchanged()">
                       <option value="">${_("Sort by the number of Teachers")}</option>
                       <option value="high_to_low">${_("From high to low order")}</option>
                       <option value="low_to_high">${_("From low to high order")}</option>
                     </select>
                   </td>
              </tr>
          </table>
       </nav>
        <hr/>
        <table width="1100" border="0">
        % if len(user_institution_list):
                <tr>
                    <td>${_("The name of the Institution")}</td>
                    <td>${_("Username")}</td>
                    <td>${_("Email")}</td>
                    <td>${_("The number of Teachers")}</td>
                    <td>${_("The number of courses")}</td>
                </tr>
            %for n in range(0, len(user_institution_list)):
                <tr>
                    <td>${user_institution_list[n][1]}</td>
                    <td>${user_institution_list[n][2]}</td>
                    <td>${user_institution_list[n][3]}</td>
                    <td><a href="${user_institution_list[n][7]}">${user_institution_list[n][4]}</a></td>
                    <td><a href="${user_institution_list[n][8]}">${user_institution_list[n][5]}</a></td>
                </tr>
            %endfor
        % else:
            本账户暂无单位机构
        %endif
        </table>
        <%include file="fenye.html" args="posts=user_institution_list" />
    </section>
</%block>
