<!DOCTYPE html>
<!--[if IE 7]><html class="ie ie7 lte9 lte8 lte7" lang="${LANGUAGE_CODE}"><![endif]-->
<!--[if IE 8]><html class="ie ie8 lte9 lte8" lang="${LANGUAGE_CODE}"><![endif]-->
<!--[if IE 9]><html class="ie ie9 lte9" lang="${LANGUAGE_CODE}"><![endif]-->
<!--[if gt IE 9]><!--><html lang="${LANGUAGE_CODE}"><!--<![endif]-->
<%! from syscustom.views import getSeoByKey %>
<html>
<head>
<title>丨${getSeoByKey('title_suffix')}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="${getSeoByKey('index_page_keyword')}" />
<meta name="description" content="${getSeoByKey('index_page_desc')}"/>
<%namespace name='static' file='static_content.html'/>
<%static:css group='style-vendor'/>
    <%static:css group='style-app'/>
    <%static:css group='style-app-extend1'/>
    <%static:css group='style-app-extend2'/>
    <%static:js group='main_vendor'/>
</head>  
 
<body> 
<!-- 
<script language="javascript" src="/common/header.js"></script> 
<script language="javascript" src="/common/header2.js"></script>
 -->
<%include file="navigation.html" /> 
<link href="static/css/vendor/moocheader.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="${static.url('js/index_lms.js')}"></script>
<div class="default_banner">
        <div class="big-img" id="big-img">
        	% for item in luobo_list:
        		<a href="${item.url if item.url else 'javascript:void(0)'}"  target="${'blank' if item.url else ''}" >
	                <li style="width:100%; height:350px; text-align:center; background:#0884c4; position:absolute; top:0; list-style:none; z-index:99">
	                <img class="big_b1" usemap="#testmap" id="big1" src="${item.get_image_url()}" width="1180" height="350" style="opacity:1;z-index:1; filter:alpha(opacity:100);">
	                </img>
	                </li>
	            </a> 
        	% endfor 
        </div>
      	<div class="small">
                <ul class="small_m">
                      <div class="s_pre" id="prevBtn"></div>
                      <div class="scroll_pic" id="tab-btn">
                   		% for item in luobo_list:
                      		<li><img src="static/images/index3_07.png"  alt=""/></li>
                      	% endfor
                      </div>
                      <div class="s_next" id="nextBtn"></div>
                </ul>
        </div>
    </div>
	<!--banner end-->

<!--content begin-->
<div class="content5" style="background:#fff;float:left;">
    <div class="wrapper">
		<div class="content2">
		    <iframe src="/mooc_list" frameborder="0" height="600" scrolling="no" style="margin:0 auto;width: 100%;"></iframe>
		</div>
  </div>
</div>
<!--content end-->
<style>
.alliance_members ul {
    float: left;
    padding: 0 !important;
    width: 1180px;
}

.alliance_members .wrapper_list {
    margin: 0 auto;
    width: 1180px;
}
</style>
<section class="alliance_members">
  <div class="wrapper_list">
   	  <h2>
        	<span>联盟成员</span>
            <a href="#"><img width="24" height="6" alt="" src="static/images/index_03.png"></a>
      </h2>
      <ul>
   	    <li class="one"><a href="#"><img width="223" height="223" alt="" src="static/images/index_07.jpg"></a></li>
          <li><a href="#"><img alt="" src="static/images/index_09.jpg"></a></li>
          <li><a href="#"><img alt="" src="static/images/index_11.jpg"></a></li>
          <li><a href="#"><img alt="" src="static/images/index_13.jpg"></a></li>
          <li><a href="#"><img alt="" src="static/images/index_15.jpg"></a></li>
          <li><a href="#"><img alt="" src="static/images/index_20.jpg"></a></li>
          <li><a href="#"><img alt="" src="static/images/index_21.jpg"></a></li>
          <li><a href="#"><img alt="" src="static/images/index_23.jpg"></a></li>
          <li><a href="#"><img alt="" src="static/images/index_24.jpg"></a></li>
      </ul>
    </div>
</section>

<script>
    function resetTabs(){
        $("#content > div").hide(); //Hide all content
        $("#tabss a").attr("id",""); //Reset id's      
    }

    var myUrl = window.location.href; //get URL
    var myUrlTab = myUrl.substring(myUrl.indexOf("#")); // For localhost/tabs.html#tab2, myUrlTab = #tab2     
    var myUrlTabName = myUrlTab.substring(0,4); // For the above example, myUrlTabName = #tab

    (function(){
        $("#content > div").hide(); // Initially hide all content
        $("#tabss li:first a").attr("id","current"); // Activate first tab
        $("#content > div:first").fadeIn(); // Show first tab content
        
        $("#tabss a").on("click",function(e) {
            e.preventDefault();
            if ($(this).attr("id") == "current"){ //detection for current tab
             return       
            }
            else{             
            resetTabs();
            $(this).attr("id","current"); // Activate this
            $($(this).attr('name')).fadeIn(); // Show content for current tab
            }
        });

        for (i = 1; i <= $("#tabss li").length; i++) {
          if (myUrlTab == myUrlTabName + i) {
              resetTabs();
              $("a[name='"+myUrlTab+"']").attr("id","current"); // Activate url tab
              $(myUrlTab).fadeIn(); // Show url tab content        
          }
        }
    })()
  </script>

 <%static:js group='application'/>
<!--footer begin-->
<div class="wrapper-footer">
  <footer role="contentinfo" class="primary">
    <div class="colophon">
       ${getSeoByKey('bottom_footer_text')}
    </div>
  </footer>
</div> 
<!--footer end-->
<!--
<script language="javascript" src="/common/footer.js"></script>    
-->
<%include file="${settings.STATISTICS_CODE_TEMPLATE}" />
</body>
</html>

<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
</%block>