
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

</head>
<body>
<script language="javascript" src="/common/header.js"></script>
<script language="javascript" src="/common/header2.js"></script>
<link href="static/css/vendor/moocheader.css" rel="stylesheet" type="text/css">

<div class="default_banner">
        <div class="big-img" id="big-img">
        	<a href="#"><img class="big_b1" src="http://www.pmphmooc.com/statics/css/../medmooc_renweishe/banner1_02.jpg" style="opacity:1;z-index:1; filter:alpha(opacity:100)"></img></a>
			<a href="#"><img class="big_b2" src="http://www.pmphmooc.com/statics/css/../medmooc_renweishe/lobby_02.jpg" style="opacity:0;z-index:0; filter:alpha(opacity:100)"></img></a>
			<a href="#"><img class="big_b3"  src="http://www.pmphmooc.com/statics/css/../medmooc_renweishe/lobby_04.jpg" style="opacity:0;z-index:0; filter:alpha(opacity:100)"></img></a>
        </div>
      	<div class="small">
                <ul class="small_m">
                      <div class="s_pre" id="prevBtn"></div>
                      <div class="scroll_pic" id="tab-btn">
                   		<li><img class="cls" src="http://www.pmphmooc.com/statics/css/../medmooc_renweishe/index3_07.png" /></li>
                        <li><img src="http://www.pmphmooc.com/statics/css/../medmooc_renweishe/index3_07.png"  alt=""/></li>
                        <li><img src="http://www.pmphmooc.com/statics/css/../medmooc_renweishe/index3_07.png"  alt=""/></li>
                      </div>
                      <div class="s_next" id="nextBtn"></div>
                </ul>
        </div>
    </div>
	<!--banner end-->

<!--content begin-->
<div class="content5" style="background: #fff;">
    <div class="wrapper">
<div class="content2">
    <iframe src="/mooc_list" frameborder="0" height="538" scrolling="no" style="margin:0 auto;width: 100%;"></iframe>
</div>
  </div>
</div>
<div class="content2">
    <iframe src="http://open.pmphmooc.com" frameborder="0" height="888" scrolling="no" id="tabs" style="margin:0 auto;width: 100%;"></iframe>
</div>
<!--content end-->

<script>
    function resetTabs(){
        $("#content > div").hide(); //Hide all content
        $("#tabss a").attr("id",""); //Reset id's      
    }

    var myUrl = window.location.href; //get URL
    var myUrlTab = myUrl.substring(myUrl.indexOf("#")); // For localhost/tabs.html#tab2, myUrlTab = #tab2     
    var myUrlTabName = myUrlTab.substring(0,4); // For the above example, myUrlTabName = #tab

    (function(){
        $("#content > div").hide(); // Initially hide all content
        $("#tabss li:first a").attr("id","current"); // Activate first tab
        $("#content > div:first").fadeIn(); // Show first tab content
        
        $("#tabss a").on("click",function(e) {
            e.preventDefault();
            if ($(this).attr("id") == "current"){ //detection for current tab
             return       
            }
            else{             
            resetTabs();
            $(this).attr("id","current"); // Activate this
            $($(this).attr('name')).fadeIn(); // Show content for current tab
            }
        });

        for (i = 1; i <= $("#tabss li").length; i++) {
          if (myUrlTab == myUrlTabName + i) {
              resetTabs();
              $("a[name='"+myUrlTab+"']").attr("id","current"); // Activate url tab
              $(myUrlTab).fadeIn(); // Show url tab content        
          }
        }
    })()
  </script>


<!--footer begin-->
<footer>
    <div class="wrapper">
      <p> 版权所有 人民卫生出版社有限公司</p>
    </div>
</footer>
<!--footer end-->
</body>
</html>

<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
</%block>