<%!
  from django.core.urlresolvers import reverse
  from courseware.courses import course_image_url, get_course_about_section
  from courseware.access import has_access
  from django.conf import settings
  from edxmako.shortcuts import marketing_link

%>
<html>
<head>
<meta charset="utf-8">
<title>学习平台</title>
<script type="text/javascript" src="static/js/vendor/jquery.min.js"></script>
<link href="static/css/vendor/moocheader.css" rel="stylesheet" type="text/css">

<script type="text/javascript" >
    $(document).ready(function(){
        $.get("/mooc_list", function(json){
                var context = json.context;
                var context_later = json.context_later;
                var context_advance = json.context_advance;

                for(var i = 0; i < context.length; i++){
                    if(context[i]["course_update_date"] != null){
                        $("#tab1_"+ i + " .left").html(context[i]["course_update_date"]+"更新");
                    }else{
                        $("#tab1_"+ i + " .left").html("暂时无更新")
                    }
                    $("#tab1_"+ i + " .number").html(context[i]["enrollment_number"]+"听讲");
                    $("#tab1_"+ i + " .right").html(context[i]["count"]+"讨论");
                }

                for(var j = 0; j < context_later.length; j++){
                    if(context_later[j]["course_update_date"] != null){
                        $("#tab2_"+ j + " .left").html(context_later[j]["course_update_date"]+"更新");
                    }else{
                        $("#tab2_"+ j + " .left").html("暂时无更新");
                    }
                    $("#tab2_"+ j + " .number").html(context_later[j]["enrollment_number"]+"听讲");
                    $("#tab2_"+ j + " .right").html(context_later[j]["count"]+"讨论");
                }

                for(var k = 0; k < context_advance.length; k++){
                    if(context_advance[k]["course_update_date"] != null){
                        $("#tab3_"+ k + " .left").html(context_advance[k]["course_update_date"]+"更新");
                    }else{
                        $("#tab3_"+ k + " .left").html("暂时无更新");
                    }
                    $("#tab3_"+ k + " .number").html(context_advance[k]["enrollment_number"]+"听讲");
                    $("#tab3_"+ k + " .right").html(context_advance[k]["count"]+"讨论");
                }
            }
        )
    })

</script>
</head>

<body>

<!--content begin-->
<div class="content5" style="background: #fff">
    <div class="wrapper">
    	<section>
    	<div class="title_mooc">
            <h2>慕课</h2>
            <ul class="nav" id="tabs">
                <li><a id="current" name="#tab1" href="#">热门课程</a></li>/
                <li><a name="#tab2" href="#">最近开课</a></li>/
                <li><a name="#tab3" href="#">最新预告</a></li>
            </ul>
        </div>
		<!--tab menu end-->
        <!--board begin-->
		<div id="content">
			<!--content1 begin-->
            % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
			<div id="tab1" class="content3">
                %for co in range(0,len(courses)):
            	<ul class="ul_list">
                	<li>
                    	 <a href="${reverse('about_course', args=[courses[co]['id']])}" target="_blank">
                            <div class="img">
                                <img src="${courses[co]['image_url']}" width="275" height="180"  alt=""/>
                                <h4>${courses[co]['title']}</h4>
                                <p id="tab1_${co}">
                                  <span class="left"></span>
                                  <span class="number">听讲</span>
                                  <span class="right">评论</span>
                                </p>
                            </div>
                            <div class="text_con3">
                            	<div class="text_con3_title">
                                %if courses[co]['picurl']:
                                	<img src="${courses[co]['picurl']}" alt=""/>
                                %else:
                                    <img src="static/images/noprofilepic.jpg" />
                                %endif

									<h2>${courses[co]['name']}</h2>

                                %if courses[co]['shortbio'] == 'None':
                                    <p>教师暂无简介</p>
                                %else:
                                    <p>${courses[co]['shortbio'].decode('utf-8')[:30]}</p>
                                %endif
                                </div>
                               %if courses[co]['short_description']:
                                    <p>${courses[co]['short_description'][0:80]}</p>
                               %else:
                                    <p>课程暂无简介</p>
                               %endif
                            </div>
                    	</a>
                    </li>
                </ul>
                %endfor
            </div>
            % endif

            % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
            <div id="tab2" class="content3">
                %for col in range(0,len(course_later)):
            	<ul class="ul_list">

                     <li>
                    	<a href="${reverse('about_course', args=[course_later[col]['id']])}" target="_blank">
                            <div class="img">
                                <img src="${course_later[col]['image_url']}" width="275" height="180"  alt=""/>
                                <h4>${course_later[col]['title']}</h4>
                                <p id="tab2_${col}">
                                  <span class="left">暂时无更新</span>
                                  <span class="number">听讲</span>
                                  <span class="right">评论</span>
                                </p>
                            </div>
                            <div class="text_con3">
                            	<div class="text_con3_title">
                                	%if courses[co]['picurl']:
                                	    <img src="${course_later[col]['picurl']}" alt=""/>
                                    %else:
                                        <img src="static/images/noprofilepic.jpg" />
                                    %endif
									<h2>${course_later[col]['name']}</h2>

                                    %if course_later[col]['shortbio'] == 'None':
                                        <p>教师暂无简介</p>
                                    %else:
                                        <p>${course_later[col]['shortbio'].decode('utf-8')[:30]}</p>
                                    %endif
                                </div>
                                   %if course_later[col]['short_description']:
                                        <p>${course_later[col]['short_description'][0:80]}</p>
                                   %else:
                                        <p>课程暂无简介</p>
                                   %endif
                            </div>
                    	</a>
                    </li>
                </ul>
                %endfor
            </div>
            % endif

            % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
            <div id="tab3" class="content3">
              %if len(course_advance):
                %for coa in range(0,len(course_advance)):
            	<ul class="ul_list">
                     <li>
                    	<a href="${reverse('about_course', args=[course_advance[coa]['id']])}" target="_blank">
                            <div class="img">
                                <img src="${course_advance[coa]['image_url']}" width="275" height="180"  alt=""/>
                                <h4>${course_advance[coa]['title']}</h4>
                                <p id="tab3_${coa}">
                                  <span class="left">暂时无更新</span>
                                  <span class="number">听讲</span>
                                  <span class="right">评论</span>
                                </p>
                            </div>
                            <div class="text_con3">
                            	<div class="text_con3_title">
                                	%if course_advance[coa]['picurl']:
                                	    <img src="${course_advance[coa]['picurl']}" alt=""/>
                                    %else:
                                        <img src="static/images/noprofilepic.jpg" />
                                    %endif
									<h2>${course_advance[coa]['name']}</h2>

                                    %if course_advance[coa]['shortbio'] == 'None':
                                        <p>教师暂无简介</p>
                                    %else:
                                        <p>${course_advance[coa]['shortbio'].decode('utf-8')[:30]}</p>
                                    %endif
                                </div>
                                    %if course_advance[coa]['short_description']:
                                        <p>${course_advance[coa]['short_description'][0:80]}</p>
                                    %else:
                                        <p>课程暂无简介</p>
                                    %endif
                            </div>
                    	</a>
                    </li>
                </ul>
                %endfor
              %else:
                <h1>暂无预告课程</h1>
              %endif
            </div>
            % endif
        </div>
	</section>
  </div>
</div>

  <script>
    function resetTabs(){
        $("#content > div").hide(); //Hide all content
        $("#tabs a").attr("id",""); //Reset id's      
    }

    var myUrl = window.location.href; //get URL
    var myUrlTab = myUrl.substring(myUrl.indexOf("#")); // For localhost/tabs.html#tab2, myUrlTab = #tab2     
    var myUrlTabName = myUrlTab.substring(0,4); // For the above example, myUrlTabName = #tab

    (function(){
        $("#content > div").hide(); // Initially hide all content
        $("#tabs li:first a").attr("id","current"); // Activate first tab
        $("#content > div:first").fadeIn(); // Show first tab content
        
        $("#tabs a").on("click",function(e) {
            e.preventDefault();
            if ($(this).attr("id") == "current"){ //detection for current tab
             return       
            }
            else{             
            resetTabs();
            $(this).attr("id","current"); // Activate this
            $($(this).attr('name')).fadeIn(); // Show content for current tab
            }
        });

        for (i = 1; i <= $("#tabs li").length; i++) {
          if (myUrlTab == myUrlTabName + i) {
              resetTabs();
              $("a[name='"+myUrlTab+"']").attr("id","current"); // Activate url tab
              $(myUrlTab).fadeIn(); // Show url tab content        
          }
        }
    })()
  </script>
</body>
</html>
